@import "tailwindcss";

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@utility edge-fade {
  @apply absolute top-0 h-full w-[40px] pointer-events-none bg-white backdrop-blur-[32px];
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}
