@import "tailwindcss";

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@utility edge-fade {
  @apply absolute top-0 h-full w-4 sm:w-10 pointer-events-none bg-white backdrop-blur-[32px];
}

@utility font-geist-sans {
  font-family: var(--font-geist-sans);
}

@utility font-geist-mono {
  font-family: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}
